body,
html {
    margin: 0%;
    padding: 0%;
    font-family: 'Signika Negative', sans-serif;
    font-size: 15px;
}

.nav_bar {
    background-color: rgb(169, 224, 245);
    height: 30px;
    position: sticky;
    top: 0;

}

.nav_bar a:hover {
    color: cadetblue;
}
.nav_bar a {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-decoration: none;
    color: black
}

.img_div {
    width: 100%;
    height: 60vh;
    background-image: url(./image.png);
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
}

.text_div {
    color: white;
    text-align: center;
    font-size: 20px;
    text-shadow: 10px;
    /* font-size: larger; */
    justify-items: center;
    align-content: center;
    animation:fadeInDownBig;
    animation-duration: 2s;

}

.price_container {
    display: flex;
    text-align: center;
    justify-content: center;
    /* animation: bounce;
    animation-duration: 2s; */
    background-color: rgb(217, 233, 233);
    height: 500px;
}

.text_container {
    display: flex;
}

.price_container p {
    border-bottom: 1px royalblue;
}

.footer {
    color: antiquewhite;
    background-color: black;
    text-align: center;
    height: 7vh;
    margin-top: 5%;

}

.footer a {
    color: gray;

}

.frist_fiv {
    background-color: rgb(42, 105, 42);
    width: 100%;
    height: 80px;
    /* border: 1px solid rgb(6, 38, 6); */
    color: wheat;
}

.second_twinty {
    background-color: rgb(11, 11, 77);
    width: 100%;
    height: 80px;
    /* border: 1px solid rgb(79, 79, 235); */
    color: wheat;
}

.third_fourty {
    background-color: black;
    /* border: 1px solid whitesmoke; */
    width: 100%;
    height: 80px;
    color: wheat;
}

p {
    margin: 0%;
    padding: 0%;
}

.nav_bar a {
    margin-right: 25px;
}

.img_div p:first-child {
    padding-top: 200px;

}

.fiv,
.twinty,
.fourty {
    border: 1px solid rgb(130, 130, 230);
    background-color: rgb(222, 222, 250);
    margin-right: 10px;
    margin: 20px;
    height: fit-content;

}

.para_frist p,
.secondCard p,
.thirdCard p {

    border-bottom: 1px solid blue;
    margin: 2px;
    padding: 10px;
}




.button1 {
    background-color: aliceblue;
    /* background-color: rgba(100%,100%,100%,60%);
    backdrop-filter: blur(50px); */
    padding: 2px;
}

input[type=button] {
    border: 1px solid rgb(129, 168, 240);
    border-radius: 20px;
}

input[type=button]:hover {
    color: blue;
    background-color: cadetblue;
}

.text_div p {
    animation: animate__bounceInUp;
    animation-duration: 2s;
}

.frist_fiv,
.second_twinty,
.third_fourty {
    font-style: bold;
    font-size: 17px;
    height: 100px;
    border-top-left-radius: 40px;
    
    
}
.frist_fiv p,
.second_twinty p,
.third_fourty p {
    display: flex;
    text-align: center;
    justify-content: center;
    padding: 5px;
}
.test{
    display: flex;
    justify-content: center;
    align-items: center;
}
.fiv:hover,
.twinty:hover,
.fourty:hover{
    animation-name:pulse  ;
    animation-duration: 1s;
}
.frist_fiv span,
.second_twinty span,
.third_fourty span{
    font-size: 30px;
    font-weight: 500;
}
.frist_text_div,
.second_text_div,
.third_text_div,
.fourth_text_div{
    background-color: #d9e9e9;
    border: 1px solid rgb(204, 192, 192);
    margin: 2%;
    padding: 5%;
}
.frist_text_div:hover,
.second_text_div:hover,
.third_text_div:hover,
.fourth_text_div:hover{
    background-color: rgb(144, 140, 140);
    animation: pulse 1s;

}